
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0"/>
<div class="holder">
  <!--
    <mat-toolbar color="primary" class="header main-toolbar">
  -->

  <div class="content">
    <mat-toolbar class="header main-toolbar">
      <div class="header-content">
        <span class="header-item" (click)="showHelp()">
          <mat-icon>help_outline</mat-icon>
        </span>
        <span class="header-item" (click)="share()">
          <mat-icon>share</mat-icon>
        </span>
      </div>
    </mat-toolbar>
    <app-word-box [(wordInput)]="textEntered" [targetScore]="targetScore" class="wordbox"></app-word-box>
  </div>

  <footer class="footer">
    <div class="clear">
        <button mat-flat-button (click)="clear()">Clear</button>
    </div>

    <div class="keyboard">
      <app-keyboard (keyPressed)="keyPressed($event)" (backspacePressed)="backspacePressed()"></app-keyboard>
    </div>
  </footer>

</div>
