
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0"/>
<div class="holder">
  <!--
    <mat-toolbar color="primary" class="header main-toolbar">
  -->

  <div class="content">
    <div class="game-title">
      <span>Quoted</span>
    </div>
    <mat-toolbar class="header main-toolbar">
      <div class="header-content">
        <span class="header-item" (click)="showHelp()">
          <mat-icon>help_outline</mat-icon>
        </span>
        <span class="header-item" (click)="share()">
          <mat-icon>share</mat-icon>
        </span>
      </div>
    </mat-toolbar>

    <app-word-box [(wordInput)]="textEntered" [targetScore]="targetScore" (scoreChange)="scoreChanged($event)" class="wordbox"></app-word-box>

    <div class="score">
      <div *ngIf="showWinParticles" class="win-particles-box">
        <div class="win-particles-cover"></div>
        <div class="particle-holder">
          <Particles id="tsparticles" [options]="particleOptions"></Particles>
        </div>

      </div>
      <mat-label>{{targetScore - score}}</mat-label>
    </div>
  </div>

  <footer class="footer">
    <!--
      <div class="clear">
          <button mat-flat-button (click)="clear()">{{languageManager.Language.clear}}</button>
      </div>

      <div class="keyboard">
        <app-keyboard (keyPressed)="keyPressed($event)" (backspacePressed)="backspacePressed()"></app-keyboard>
      </div>
    -->
  </footer>

</div>
