
.holder {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
  padding: 10px;
}

.footer {
  flex-shrink: 0;
}

.keyboard {
    margin-bottom: 10px;
    // Prevent double tap to zoom
    touch-action: manipulation;
}

.words {
    text-transform: uppercase;
    font-size: 24px;

    outline: black solid 5px;

    // Flex stuff
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
}

.word {
    padding: 5px;
}

.wordbox {
    width: 100%;
}

.goodWord {
    color: black;
}

.badWord {
    color: red;
}

.pendingWord {
    color: yellow;
}

.score {
    text-align: center;
    font-size: 36px;
    padding-bottom: 36px;
}

.wordtable {
    width: 100%;
}

.mat-column-score {
  // width: 32px;
  // text-align: center;
  font-weight: bold;
}

.tableHolder {
  height: 30vh;
  overflow: auto;
}

.tableHeader {
    height: 30px;
}

.tableRow:active {
  background-color: dimgray;
}
