
<div class="holder">

  <div class="content">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Put words here</mat-label>
      <input matInput disabled placeholder="Ex. Pizza" class="inputs" [(ngModel)]="wordInput">
    </mat-form-field>
  
    <br>
  
    <mat-label>{{score}}</mat-label>
  </div>
  
  <footer class="footer">
    <div class="keyboard">
      <app-keyboard (keyPressed)="keyPressed($event)" (backspacePressed)="backspacePressed()"></app-keyboard>
    </div>
  </footer>

</div>