
<div class="holder">

  <div class="content">
    <div class="words">
      <span *ngFor="let word of words" [ngClass]="word.isGood ? 'goodWord' : 'badWord'" class="word" (click)="wordTap(word)">
          {{word.word}}
      </span>
      <span class="cursor"></span>
    </div>

    <br>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Put words here</mat-label>
        <input matInput placeholder="Ex. Pizza" class="inputs" [(ngModel)]="wordInput">
    </mat-form-field>


  </div>
  
  <footer class="footer">
    <div class="score">
      <mat-label>{{score}} / {{targetScore}}</mat-label>
    </div>

    <div class="clear">
        <button mat-flat-button (click)="clear()">Clear</button>
    </div>

    <div class="keyboard">
      <app-keyboard (keyPressed)="keyPressed($event)" (backspacePressed)="backspacePressed()"></app-keyboard>
    </div>
  </footer>

</div>