.main-div {
    background-color: slategray;
    height: 100%;
}

.particles {
    position: absolute;
    height: calc(100% - 45px);
    pointer-events: none;
    z-index: 150;
    padding-top: 40px;
}